{% extends "app/base.html" %}
{% block content %}
<article class="media content-section">
	<div class="media-body">
		<h2>Apie</h2>
		<p>
			Sveiki! Esu Linas Jurevičius, Vilniaus Kolegijos Programų sistemų studentas ir čia mano blog'as apie kates.
			Jame dalinsiuosi įdomiausias faktais ir naujienomis apie šiuos gyvūnus. 
		</p>
		<br>
		<h3>Mano kontaktai:</h3>
		<ul class="list">
			<li>El. paštas: <u>pastas@pastas.lt</u></li>
			<li>Tel: +370 012 34567</li>
		</ul>
		<br>
		<hr>
	</div>
	<div id="paypal-button-container"></div>
</article>

{% endblock content %}
{% block scripts %}

{% endblock scripts %}