{% extends "app/base.html" %}
{% load social_share %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" Id="leftside" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"Y F d"}}</small>
            <a class="mr-2" href="{% url 'category' post.category %}">{{ post.category }}</a>
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-conten img3">{{ object.content|safe }}</p>
        {% if object.author == user %}
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Atnaujinti</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Ištrinti</a>
        </div>
        {% endif %}
        <hr>
        <div class="btn-group" role="group" aria-label="Basic example">
            {% post_to_twitter "New post just come: {{ object.title }}. Check it out!" object_or_url '<button class="btn btn-info" type="button"><span><i class="fa-brands fa-twitter text-white"></i></span><span class="text-white">Twitter</span></button>' %}
            {% post_to_reddit "New post just come: {{ object.title }}. Check it out!" object_or_url '<button class="btn btn-info" style="background-color: #ff4500;" type="button"><span><i class="fa-brands fa-reddit-alien text-white"></i></span><span class="text-white">Reddit</span></button>' %}
            {% post_to_facebook object_or_url '<button class="btn btn-info" style="background-color: #3b5998" type="button"><span><i class="fa-brands fab fa-facebook-f text-white"></i></span><span class="text-white">Facebook</span></button>' %}
        </div>
    </div>
</article>
<h2>Komentarai:</h2>
<hr>
<div class="pb=4">
    {% if not post.comments.all %}
    <a class="btn btn-info mb-4 mar-t blue" href="{% url 'post-comment' post.pk %}">Būk pirmas!</a>
    {% else %}
    <a class="btn btn-info mb-4 mar-t blue" href="{% url 'post-comment' post.pk %}">Komentuok</a>
    <br>
    <br>
    {% for comment in post.comments.all %}
    <strong>
        {{ comment.name }} - {{ comment.date_added|date:"Y F d" }}
    </strong>
    <br>
    <br>
    {{ comment.body }}
    <hr>
    {% endfor %}
    {% endif %}
</div>
<br>
{% endblock content %}