{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img img4" id="leftside" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h1 class="account-heading">{{ user.username }}</h1>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb=4">Nustatymai</legend>
                {{ u_form|crispy }}
               <br>
              <div class="border-top pt-3">
                <a class="ml-2" href="{% url 'password' %}">Pakeisti slaptažodį</a>
              </div>
                <br>
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group pt-3 d-flex justify-content-center">
                <button class="btn btn-outline-info" type="submit">Atnaujinti</button>
            </div>
        </form>
    </div>
{% endblock content %}
